#custom .container {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    max-width: 970px;
}
#custom nav, #custom .bread-container {
    position: absolute;
}
#custom nav .container {
    padding: 0 15px;
}
#custom .search {
    margin: 0 13px;
}
#custom input.search-input {
    margin: 0;
    margin-top: -30px;
    width: 100%;
}
#custom input, #custom input:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
}
#custom input:focus {
    border: 1px solid #999;
}
#custom ::selection {
    color: white;
    background: #3FA8E0;
}
#custom .result-list {
    background: none;
    box-shadow: none;
}
#custom .result-list li {
    min-height: 61px !important;
    background: none;
    border-bottom: 1px solid #e5e5e5;
}
#custom .result-action {
    font-size: 0;
    max-width: 400px;
    width: 100%;
    height: auto;
    float: none;
    margin: -40px 0 0 auto;
}
#custom .result-description .team-group {
    float: right;
    color: #888;
}
#custom .result-description {
    float: none;
    width: 100%;
    display: inline-block;
    position: relative;
    top: 4px;
}
#custom .result-description h1 {
    margin: 0;
}
#custom .result-description h4 {
    font-size: 1.5em;
    color: #2988bc;
}
#custom .result-username, #custom .result-password {
    width: 50%;
    display: inline-block;
    top: 0;
    font-size: 14px;
    padding-left: 10px;
}
#custom .result-username input, #custom .result-password input {
    width: 100%;
    padding: 6px 6px;
}
#custom .password-hidden {
    color: #eee;
}
#custom a:hover {
    text-decoration: none;
}
#custom .footer,
#custom .password-show,
#custom .password-link,
#custom .result-description span,
#custom .result-description .result-type-icon,
#custom .clip_button,
#custom br,
#custom .nav-tabs,
#custom .form-group.search h1 {
    display: none;
}
